#suporte {
    background-color: var(--gray);
    overflow: hidden;
  }

#suporte .content {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 1rem;
}

#suporte .whatsapp {
    display: flex;
    align-items: center;
    gap: 1rem;

    background: #1b1b1b;
    border-radius: 1rem;
    padding: 2rem;
}

#suporte .whatsapp ion-icon {
    font-size: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--gradient);
    color: #fff;
}

#suporte .whatsapp p {
    font-size: 1.6rem;
    text-align: left;
    font-weight: 400;
    color: #fff;
}

#suporte .whatsapp p span {
    color: var(--primary-color);
}

#suporte .image {
    display: flex;
    align-items: center;
}

#suporte .image img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1rem;
}

#suporte .ajuda {
    background: #1b1b1b;
    border-radius: 1rem;
    padding: 2rem;
    text-align: left;
}

#suporte .ajuda > span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #21c900;

    display: flex;
    align-items: center;
    gap: .5rem;
} 

#suporte .ajuda > span ion-icon {
    font-size: 1.8rem;
}

#suporte .ajuda h3 {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin-block: .5rem;
} 

#suporte .ajuda h3 span {
    color: var(--primary-color);
}

#suporte .ajuda p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: #929292;
} 

#suporte .ajuda a {
    text-decoration: none;
} 

#suporte .ajuda a button {
    margin-top: 2rem;

    border: none;
    background: var(--gradient);
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #fff;

    display: flex;
    align-items: center;
    gap: 1rem;

    transition: all 200ms ease-in-out;
} 

#suporte .ajuda a button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 20px #131313;
    filter: brightness(1.1);
}

#suporte .ajuda a button img {
    width: 3rem;
}

@media (min-width: 768px) {
    .wrapper {
      width: min(80rem, 100%);
    }
}
  
  @media (min-width: 1080px) {
  .wrapper {
        width: min(140rem, 100%);
    }

    section#suporte .content {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 2fr;
    }

    section#suporte .whatsapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section#suporte .whatsapp p {
        text-align: center;
    }

    section#suporte .image img {
        aspect-ratio: 16/7;
    }

    section#suporte .ajuda {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 1300px) {
    .wrapper {
          width: min(150rem, 100%);
      }
}