.topic {
    background: var(--gray);
    position: relative;

    padding-block: 0;
    padding-bottom: 8rem;

    overflow: hidden;
}

.topic .text {
    text-align: left;
}

.topic .text h2 {
    margin-top: .5rem;
    font-size: 2.8rem;
    color: var(--white);
    font-weight: 500;

    margin-bottom: 1rem;
}

#service-um .text h2 span {
    color: var(--orange);
}

#service-dois .text h2 span {
    color: var(--blue);
}

#service-tres .text h2 span {
    color: var(--yellow);
}

#service-quatro .text h2 span {
    color: var(--orange);
}

.topic .text h3 {
    color: var(--paragraphy);
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 300;

    margin-bottom: 2rem;
}

.topic .text h3 span {
    color: #cccccc;
}

.topic .text .topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: left;
    align-items: start;

    margin-bottom: 3rem;
}

.topic .text .topics p {
    color: var(--paragraphy);
    font-weight: 300;

    display: flex;
    gap: .5rem;
    align-items: center;
}

.topic .text .topics p ion-icon {
    font-size: 1.2rem;
}

#service-um .text .topics p ion-icon {
    color: var(--orange);
}

#service-dois .text .topics p ion-icon {
    color: var(--blue);
}

#service-tres .text .topics p ion-icon {
    color: var(--yellow);
}

#service-quatro .text .topics p ion-icon {
    color: var(--orange);
}

.topic .image img {
    width: 100%;
}

.topic a button {
    border: none;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--white);
    font-weight: 500;

    transition: all 200ms ease-in-out;
}

.topic a button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

#service-um .text a button,
#service-quatro .text a button {
    background: var(--orange);
}

#service-dois .text a button {
    background: var(--blue);
}

#service-tres .text a button {
    background: var(--yellow);
}




@media (min-width: 1080px) {    
    section.topic {
        padding-block: 0;
        max-height: 100vh;
        overflow: hidden;
    }

    section#service-um {
        background: linear-gradient(to bottom, #252526, #222222);
    }

    section#service-dois {
        background: linear-gradient(to bottom, #252526, #222222);
    }

    section#service-tres {
        background: linear-gradient(to bottom, #252526, #222222);
    }

    section#service-quatro {
        background: linear-gradient(to bottom, #252526, #222222);
    }

    section#service-dois .content,
    section#service-quatro .content {
        grid-template-areas: "a b";
    }

    section#service-dois .image,
    section#service-quatro .image {
        grid-area: a;
    }

    section.topic .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section.topic .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: start;
        margin-top: 8rem;
    }

    section.topic .text {
        width: 70%;
    }

    section.topic .text h2 {
        font-size: 3.5rem;
        color: var(--white);
        font-weight: 700;
    }

    section.topic .wrapper .text h3 {
        font-size: 1.6rem;
        margin-bottom: 3rem;

        font-weight: 400;
    }

    section.topic .wrapper .text p {
        font-size: 1.6rem;
        color: var(--white);

        font-weight: 400;
    }

    section.topic .text .topics {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;
    }

    section.topic .image img {
        aspect-ratio: 12/16;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1700px) {
    section.topic .wrapper {
        margin-top: 16rem;
    }

    section.topic .text h2 {
        font-size: 4rem;
    }

    section.topic .wrapper .text h3 {
        font-size: 1.8rem;
    }

    section.topic .wrapper .text p {
        font-size: 1.8rem;
    }
}

@media (min-width: 1700px) {
    section.topic .wrapper {
        margin-top: 18rem;
    }

    section.topic .text h2 {
        font-size: 4.5rem;
    }

    section.topic .wrapper .text h3 {
        font-size: 2.2rem;
    }

    section.topic .wrapper .text p {
        font-size: 2rem;
    }
}